@import 'content/content-wrapper.component';
@import 'order-wrapper.component.scss';
@import 'review-category.component.scss';

.profile-content {
    position: relative;
    margin-top: 6rem;

    .wall-wrapper {
        .wall-content {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            column-gap: .3rem;
            height: 500px;

            .wall1,
            .wall2,
            .wall3,
            .wall4 {
                grid-column: span 2;
                height: 500px;
            }

            .wall2,
            .wall4 {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .wall1,
            .wall3,
            .wall5 {
                display: flex;
                flex-direction: column;
                row-gap: .3rem;
            }

            .wall1 {

                .wall1-1,
                .wall1-2 {
                    height: calc(500px/2 - .15rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .wall3 {

                .wall3-1,
                .wall3-2 {
                    height: calc(500px/2 - .15rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .wall5 {

                .wall5-1,
                .wall5-2 {
                    height: calc(500px/2 - .15rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }


    .toggle-order-wrapper {
        position: fixed;
        bottom: 5rem;
        right: 1rem;
        width: 40px;
        height: 40px;
        background-color: var(--color-primary);
        z-index: 999;
        display: none;
        font-size: 30px;
        border-radius: 50%;
        padding-top: 3.5px;
        padding-left: 5px;
        color: var(--color-light);
    }

}

@media(min-width:1200px) {}

@media(max-width:991.98px) {
    .order-wrapper {
        display: none;
    }

    .order-wrapper.show {
        display: block;
    }

    .toggle-order-wrapper {
        display: block !important;
    }

    .toggle-order-wrapper.hide {
        display: none !important;
    }

    .btn-close-order {
        display: block !important;
    }

    .profile-content {
        .content-wrapper {
            padding: 2.5rem 2rem 0 !important;
        }
    }
}

@media(max-width:767.98px) {
    .profile-content {
        .content-wrapper {
            padding: 2.5rem 2rem 0 !important;

            .forMe-wrapper {

                .forMe-content {
                    flex-direction: column;
                    row-gap: 2rem;
                }
            }

            .info-wrapper {
                .portfolio {
                    .portfolio-content {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }
}

@media(max-width:575.98px) {
    .profile-content {
        .content-wrapper {}
    }
}