<div class="profile-content">
    <div class="wall-wrapper">
        <ng-container *ngIf="wallImages.length > 0; else elseEmptyWall">
            <div class="wall-content">
                <div class="wall1">
                    <div class="wall1-1">
                        <img src="{{wallImages[0] || ''}}" alt="">
                    </div>
                    <div class="wall1-2">
                        <img src="{{wallImages[1] || ''}}" alt="">
                    </div>
                </div>
                <div class="wall2">
                    <img src="{{wallImages[2] || ''}}" alt="">
                </div>
                <div class="wall3">
                    <div class="wall3-1">
                        <img src="{{wallImages[3] || ''}}" alt="">

                    </div>
                    <div class="wall3-2">
                        <img src="{{wallImages[4] || ''}}" alt="">

                    </div>
                </div>
                <div class="wall4">
                    <img src="{{wallImages[5] || ''}}" alt="">

                </div>
                <div class="wall5">
                    <div class="wall5-1">
                        <img src="{{wallImages[6] || ''}}" alt="">

                    </div>
                    <div class="wall5-2">
                        <img src="{{wallImages[7] || ''}}" alt="">
                    </div>

                </div>
            </div>
        </ng-container>
        <ng-template #elseEmptyWall>
            <div class="wall-content">
                <div class="wall1">
                    <div class="wall1-1">
                        <img src="./assets/images/profile/pf1.jpg" alt="">
                    </div>
                    <div class="wall1-2">
                        <img src="./assets/images/profile/pf2.jpg" alt="">
                    </div>
                </div>
                <div class="wall2">
                    <img src="./assets/images/profile/pf3.jpg" alt="">
                </div>
                <div class="wall3">
                    <div class="wall3-1">
                        <img src="./assets/images/profile/pf4.jpg" alt="">

                    </div>
                    <div class="wall3-2">
                        <img src="./assets/images/profile/pf5.jpg" alt="">

                    </div>
                </div>
                <div class="wall4">
                    <img src="./assets/images/profile/pf6.jpg" alt="">

                </div>
                <div class="wall5">
                    <div class="wall5-1">
                        <img src="./assets/images/profile/pf7.jpg" alt="">

                    </div>
                    <div class="wall5-2">
                        <img src="./assets/images/profile/pf8.jpg" alt="">

                    </div>

                </div>
            </div>
        </ng-template>
    </div>
    <div class="content-wrapper">
        <div class="forMe-wrapper">
            <div class="forMe-content">
                <div class="avatar-wrapper">
                    <div class="avatar">
                        <img class="avatar-image" src="{{userData?.user?.avatar}}" alt="">
                    </div>
                </div>
                <div class="des-forMe-wrapper">
                    <h2 class="des-forMe-name">
                        {{userData?.user?.full_name}}
                    </h2>
                    <p class="des-forMe-address">
                        {{userData?.user?.address}}
                    </p>
                    <div class="des-forMe-rate">
                        <div class="rate-star">
                            <ng-container *ngIf="countRate > 0 && countRate <= 1">
                                <i *ngFor="let r of review1Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 1 && countRate <= 2">
                                <i *ngFor="let r of review2Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 2 && countRate <= 3">
                                <i *ngFor="let r of review3Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 3 && countRate <= 4">
                                <i *ngFor="let r of review4Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 4 && countRate <= 5">
                                <i *ngFor="let r of review5Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate === 0">
                                <i *ngFor="let r of review0Star" [class]="r"></i>
                            </ng-container>
                        </div>
                        <span class="rate-text">{{countRate}}</span>
                    </div>
                    <p class="des-forMe-exp">{{userData?.user?.exp}} năm kinh nghiệm</p>
                </div>
            </div>
        </div>
        <div class="info-wrapper">
            <div class="infor-title-list">
                <div class="title-list">
                    <li class="it-item">
                        <a href="javascript:void(0)" class="it-link">Về tôi</a>
                    </li>
                    <li class="it-item">
                        <a href="javascript:void(0)" class="it-link">Hồ sơ</a>
                    </li>
                    <li class="it-item"><a href="javascript:void(0)" class="it-link">Đánh giá</a></li>
                    <li class="it-item"><a href="javascript:void(0)" class="it-link">How it works</a></li>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="infor-content-list">
                <div class="ic-item">
                    <div class="text-description">
                        <p>
                            {{userData?.userInfo?.description}}
                        </p>
                    </div>
                    <div class="prize">
                        <h3 class="prize-title">
                            Giải thưởng
                        </h3>
                        <p>
                            {{userData?.userInfo?.prize}}
                        </p>
                    </div>
                    <div class="interest">
                        <h3 class="interest-title">
                            Điều thú vị về tôi
                        </h3>
                        <p>
                            {{userData?.userInfo?.interest}}
                        </p>
                    </div>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="feature-wrapper">
                <h3 class="feature-title">Ngôn ngữ & Máy ảnh</h3>
                <div class="feature-content">
                    <div class="language">
                        <div class="language-title">
                            <img src="./assets/images/icons/translate.png" alt="">
                            <h3>Ngôn ngữ</h3>
                        </div>
                        <p>{{userData?.userInfo?.language}}</p>
                    </div>
                    <div class="camera">
                        <div class="camera-title">
                            <img src="./assets/images/icons/camera.png" alt="">
                            <h3>Máy ảnh</h3>
                        </div>
                        <p>{{userData?.userInfo?.camera}}</p>
                    </div>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="portfolio">
                <h3 class="portfolio-title">My Portfolio</h3>
                <div class="portfolio-content">
                    <div class="portfolio-item" *ngFor="let d of decesData?.category; let i = index">
                        <a href="javascript:void(0);" (click)="showReview(i)">
                            <div class="it-header">
                                <img src="{{d.images[0]}}" alt="">
                            </div>
                            <div class="it-footer">
                                <h3 class="it-cate">{{d.name}}</h3>
                                <span class="it-count-picture">{{d.images.length}}</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="appraise">
                <div class="appraise-title">
                    <h3>Đánh Giá</h3>
                    <div class="rate">
                        <div class="rate-star">
                            <ng-container *ngIf="countRate > 0 && countRate <= 1">
                                <i *ngFor="let r of review1Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 1 && countRate <= 2">
                                <i *ngFor="let r of review2Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 2 && countRate <= 3">
                                <i *ngFor="let r of review3Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 3 && countRate <= 4">
                                <i *ngFor="let r of review4Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 4 && countRate <= 5">
                                <i *ngFor="let r of review5Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate === 0">
                                <i *ngFor="let r of review0Star" [class]="r"></i>
                            </ng-container>
                        </div>
                        <span class="rate-text">{{countRate}}</span>
                    </div>
                </div>
                <div class="appraise-content">
                    <div class="appraise-item" *ngFor="let r of reviewData">
                        <div class="ai-header">
                            <div class="header-avatar">
                                <img src="./assets/images/avatar_review.jpg" alt="">
                                <span class="header-name">{{r.cus_name}}</span>
                                <div class="header-rate">
                                    <ng-container [ngSwitch]="r.rate">
                                        <ng-container *ngSwitchCase="1">
                                            <i *ngFor="let r of review1Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="2">
                                            <i *ngFor="let r of review2Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="3">
                                            <i *ngFor="let r of review3Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="4">
                                            <i *ngFor="let r of review4Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="5">
                                            <i *ngFor="let r of review5Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <i *ngFor="let r of review5Star" [class]="r"></i>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="header-date">{{r.date}}</div>
                        </div>
                        <div class="ai-comment">
                            <p>{{r.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="how-it-works">
                <h3 class="hiw-title">How it Works</h3>
                <div class="hiw-content">
                    <div class="hiw-item">
                        <div class="item-title">
                            <div class="title-icon">
                                <i class='bx bx-calendar-check'></i>
                            </div>
                            <h3 class="title-text">Book.</h3>
                        </div>
                        <div class="item-content">
                            <div class="content-deliver">
                                <p></p>
                            </div>
                            <div class="content-text">
                                <p>Nhanh chóng tìm thấy một nhiếp ảnh gia được xếp hạng hàng đầu gần bạn. Đặt chỗ phù
                                    hợp cho khoảnh khắc đặc biệt của bạn chỉ bằng vài cú nhấp chuột đơn giản.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hiw-item">
                        <div class="item-title">
                            <div class="title-icon">
                                <i class='bx bxs-camera'></i>
                            </div>
                            <h3 class="title-text">Sheet.</h3>
                        </div>
                        <div class="item-content">
                            <div class="content-deliver">
                                <p></p>
                            </div>
                            <div class="content-text">
                                <p>Hãy thư giãn và tận hưởng khoảnh khắc khi một nhiếp ảnh gia giàu kinh nghiệm chụp ảnh
                                    cho bạn. Họ sẽ chăm sóc tất cả các chi tiết.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hiw-item">
                        <div class="item-title">
                            <div class="title-icon">
                                <i class='bx bx-happy-alt'></i>
                            </div>
                            <h3 class="title-text">Enjoy!.</h3>
                        </div>
                        <div class="item-content">
                            <div class="content-deliver">
                            </div>
                            <div class="content-text">
                                <p>
                                    Trong vòng 2 ngày làm việc kể từ ngày chụp ảnh, bạn sẽ có thể xem, tải xuống và chia
                                    sẻ. Tận hưởng tất cả một lần nữa và một lần nữa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="order-wrapper" [ngClass]="isShowOrder ? 'show': '' ">
        <div class="order-container">
            <h4 [attr.data-id]="userData?.user?.id">Đặt lịch chụp tự động</h4>
            <div class="mess-valid" *ngIf="isError">
                {{ errorMessage }}
            </div>
            <div class="order-content">
                <div class="filter-date-picker">
                    <label for="ngay-chup">Ngày chụp:</label>
                    <app-date-picker (selectedDateChange)="onDateChange($event)" [(selectedDate)]="selectedDateU"
                        [textDefault]="'Ngày'"></app-date-picker>
                </div>
                <div class="set-time">
                    <label for="gio-hen">Giờ hẹn:</label>
                    <input [(ngModel)]="setTimeVal" type="time" id="gio-hen" name="gio-hen"
                        pattern="^(0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]$" placeholder="hh:mm" (change)="onSetTimeChange()"
                        required>
                </div>
                <div class="filter-tl">
                    <label for="thoi-luong">Thời lượng (giờ):</label>
                    <app-custom-select (selectedOptionChange)="onOptionTLChange($event)"
                        [(selectedOption)]="selectedOptionTL" [textDefault]="'Thời lượng'">
                        <option custom-option value="1">1 giờ</option>
                        <option custom-option value="2">2 giờ</option>
                        <option custom-option value="3">3 giờ</option>
                        <option custom-option value="4">4 giờ</option>
                        <option custom-option value="5">5 giờ</option>
                        <option custom-option value="6">6 giờ</option>
                        <option custom-option value="7">7 giờ</option>
                        <option custom-option value="8">8 giờ</option>
                    </app-custom-select>
                </div>

                <div class="filter-type">
                    <label for="thoi-luong">Loại chụp</label>
                    <ng-container *ngIf="typeOfPhoto.length >0">
                        <app-custom-select (selectedOptionChange)="onOptionTypeChange($event)"
                            [(selectedOption)]="selectedOptionType" [textDefault]="'Chọn loại chụp'">
                            <option custom-option *ngFor="let tp of typeOfPhoto" [value]="tp.id">
                                {{ tp.name }}
                            </option>
                        </app-custom-select>
                    </ng-container>
                </div>

                <a href="javascript:void(0)" (click)="onSubmit()">Đặt lịch</a>
                <div class="deliver-line"></div>
                <ng-container *ngIf="costPreview">
                    <p class="p-footer">
                        {{ costPreview }} <span>/{{selectedOptionTLVal!=="" && selectedOptionTypeVal!=="" ?
                            selectedOptionTLVal : 1}}
                            tiếng</span>
                    </p>
                </ng-container>

                <div class="deliver-line"></div>
                <span class="sug-foot">
                    <i class='bx bx-check'></i>
                    15 ảnh có độ phân giải cao ở định dạng JPEG
                </span>
                <span class="sug-foot">
                    <i class='bx bx-check'></i>
                    Đã chỉnh sửa và chỉnh màu
                </span>
                <span class="sug-foot">
                    <i class='bx bx-check'></i>
                    Giao hàng sau 2 ngày làm việc
                </span>
            </div>
        </div>
        <div class="btn-close-order" (click)="hideOrder()">
            <i class="bx bx-x"></i>
        </div>
    </div>
    <div class="toggle-order-wrapper" [ngClass]="isShowOrder ? 'hide': '' " (click)="showOrder()">
        <i class='bx bx-plus-circle'></i>
    </div>

    <div class="review-repair-wrapper" *ngIf="isShowReview">
        <div class="ask-repair-container">
            <div class="ask-repair-content">
                <!-- <div class="repair-title">
                    <h2></h2>
                    <div class="deliver-line"></div>
                </div> -->
                <div class="repair-cont">
                    <div>
                        <app-image-carousel [images]="imagesForCarousel"></app-image-carousel>
                    </div>

                </div>
                <a href="javascript:void(0)" (click)="closeReview()" class="btn-close-ask">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>
</div>