.page-pr-wrapper {
    .page-header {
        background-color: var(--color-light);
        height: 140px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0px 3px 3px rgba(164, 164, 164, 0.2);

        .header-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 100%;
            padding: 0 2rem;
            margin: 0 auto;

            .header-left {
                padding-bottom: 2rem;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                h2 {
                    margin: 0;
                    font-weight: bold;
                    color: var(--color-primary);
                    display: flex;
                    align-items: center;

                    a {
                        color: var(--color-primary);
                        text-decoration: none;
                        margin-right: 1rem;
                    }
                }

                p {
                    color: var(--color-primary);
                    padding-left: 2.5rem;
                    margin: .3rem 0 0 0;
                }
            }

            .header-right {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    color: var(--color-primary);
                    text-decoration: none;
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }

    .page-content {
        padding: 2rem;
        margin: 0 auto;
        margin-top: 140px;

        .list-order-wrapper {
            .table-wrapper {
                width: 100%;
                max-width: 100%;
                overflow-x: auto;
                position: relative;

                &::-webkit-scrollbar {
                    width: 12px;
                    height: 12px;
                }

                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                &::-webkit-scrollbar-thumb {
                    background: #cccccc;
                    border-radius: 6px;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background: #bbbbbb;
                }

                .table {
                    width: 100%;
                    border-collapse: collapse;
                    border: 1px solid #ddd;

                    tr {
                        background-color: transparent;
                    }

                    thead,
                    tbody,
                    tfoot,
                    tr,
                    td,
                    th {
                        border-color: inherit;
                        border-style: solid;
                        border-width: 0;
                    }

                    thead {
                        tr.col-header {
                            background-color: #f2f2f2;
                            font-weight: bold;

                            th.row-header {
                                // padding: 10px 15px;
                                padding: 0.625rem 1.25rem;
                                text-align: left;
                                white-space: nowrap;
                            }


                        }
                    }

                    tbody {
                        tr.col-content {
                            td.row-content {
                                // padding: 10px 15px;
                                padding: 0.625rem 1.25rem;
                                text-align: left;
                                white-space: nowrap;
                            }

                            // td.row-content:last-child {
                            //     text-align: center;
                            // }

                            td {
                                a.btn-accept {
                                    background-color: #4CAF50;
                                    color: white;
                                    padding: 6px 12px;
                                    border: none;
                                    border-radius: 4px;
                                    text-align: center;
                                    text-decoration: none;
                                    display: inline-block;
                                    cursor: pointer;

                                    &:hover {
                                        background-color: #45a049;
                                    }
                                }

                            }

                            td.row-link-down {
                                display: flex;
                                align-items: center;

                                input {
                                    outline: none;
                                    padding: 8px 12px;
                                    border-radius: 4px;
                                    background-color: #f8f8f8;
                                    border: 1px solid #f2f2f2;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }

            .empty-row {
                text-align: center;
            }
        }
    }
}


@media(min-width:1400px) {

    .header-content,
    .page-content {
        max-width: 1440px;
    }
}

@media(max-width:991.98px) {}