<div class="profile-content">
    <div class="wall-wrapper">
        <ng-container *ngIf="wallImages.length > 0; else elseEmptyWall">
            <div class="wall-content">
                <div class="wall1">
                    <div class="wall1-1">
                        <img src="{{wallImages[0] || ''}}" alt="">
                    </div>
                    <div class="wall1-2">
                        <img src="{{wallImages[1] || ''}}" alt="">
                    </div>
                </div>
                <div class="wall2">
                    <img src="{{wallImages[2] || ''}}" alt="">
                </div>
                <div class="wall3">
                    <div class="wall3-1">
                        <img src="{{wallImages[3] || ''}}" alt="">

                    </div>
                    <div class="wall3-2">
                        <img src="{{wallImages[4] || ''}}" alt="">

                    </div>
                </div>
                <div class="wall4">
                    <img src="{{wallImages[5] || ''}}" alt="">

                </div>
                <div class="wall5">
                    <div class="wall5-1">
                        <img src="{{wallImages[6] || ''}}" alt="">

                    </div>
                    <div class="wall5-2">
                        <img src="{{wallImages[7] || ''}}" alt="">
                    </div>

                </div>
            </div>
        </ng-container>
        <ng-template #elseEmptyWall>
            <div class="wall-content">
                <div class="wall1">
                    <div class="wall1-1">
                        <img src="./assets/images/profile/pf1.jpg" alt="">
                    </div>
                    <div class="wall1-2">
                        <img src="./assets/images/profile/pf2.jpg" alt="">
                    </div>
                </div>
                <div class="wall2">
                    <img src="./assets/images/profile/pf3.jpg" alt="">
                </div>
                <div class="wall3">
                    <div class="wall3-1">
                        <img src="./assets/images/profile/pf4.jpg" alt="">

                    </div>
                    <div class="wall3-2">
                        <img src="./assets/images/profile/pf5.jpg" alt="">

                    </div>
                </div>
                <div class="wall4">
                    <img src="./assets/images/profile/pf6.jpg" alt="">

                </div>
                <div class="wall5">
                    <div class="wall5-1">
                        <img src="./assets/images/profile/pf7.jpg" alt="">

                    </div>
                    <div class="wall5-2">
                        <img src="./assets/images/profile/pf8.jpg" alt="">

                    </div>

                </div>
            </div>
        </ng-template>
    </div>
    <div class="content-wrapper">
        <div class="forMe-wrapper">
            <div class="forMe-content">
                <div class="avatar-wrapper">
                    <div class="avatar">
                        <img class="avatar-image" src="{{userData?.user?.avatar}}" alt="">
                    </div>
                </div>
                <div class="des-forMe-wrapper">
                    <div class="des-forMe-name">
                        <h2>
                            {{nameText}}
                        </h2>
                        <div class="btn-edit-forMe" (click)="showForMeEdit()">
                            <i class='bx bx-edit-alt'></i>
                        </div>
                    </div>
                    <p class="des-forMe-address">
                        {{ addressText }}
                    </p>
                    <div class="des-forMe-rate">
                        <div class="rate-star">
                            <ng-container *ngIf="countRate > 0 && countRate <= 1">
                                <i *ngFor="let r of review1Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 1 && countRate <= 2">
                                <i *ngFor="let r of review2Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 2 && countRate <= 3">
                                <i *ngFor="let r of review3Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 3 && countRate <= 4">
                                <i *ngFor="let r of review4Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 4 && countRate <= 5">
                                <i *ngFor="let r of review5Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate === 0">
                                <i *ngFor="let r of review5Star" [class]="r"></i>
                            </ng-container>
                        </div>
                        <span class="rate-text">{{countRate}}</span>
                    </div>
                    <p class="des-forMe-exp">{{ expText }} năm kinh nghiệm</p>
                    <div class="forMe-edit" [ngClass]="isShowForMeEdit ? 'show' : '' ">
                        <div class="des-forMe-name">
                            <input [ngModel]="nameText" (ngModelChange)="updateValue('nameText', $event)" />
                        </div>
                        <input class="des-forMe-address" [ngModel]="addressText"
                            (ngModelChange)="updateValue('addressText', $event)" />
                        <!-- Ba Đình, Hà Nội -->
                        <input class="des-forMe-exp" [ngModel]="expText"
                            (ngModelChange)="updateValue('expText', $event)" />
                        <!-- 13 năm kinh nghiệm -->
                        <div class="btn-edit-control">
                            <a href="javascript:void(0)" class="btn-save" (click)="saveForMe()">Lưu</a>
                            <a href="javascript:void(0)" class="btn-cancel" (click)="hideForMeEdit()">Hủy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="info-wrapper">
            <div class="infor-title-list">
                <div class="title-list">
                    <li class="it-item">
                        <a href="javascript:void(0)" class="it-link">Về tôi</a>
                    </li>
                    <li class="it-item">
                        <a href="javascript:void(0)" class="it-link">Hồ sơ</a>
                    </li>
                    <li class="it-item"><a href="javascript:void(0)" class="it-link">Đánh giá</a></li>
                    <li class="it-item"><a href="javascript:void(0)" class="it-link">How it works</a></li>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="infor-content-list">
                <div class="ic-item">
                    <div class="text-description">
                        <p>
                            {{desText}}
                        </p>
                    </div>
                    <div class="prize">
                        <h3 class="prize-title">
                            Giải thưởng
                        </h3>
                        <p>
                            {{prizeText}}
                        </p>
                    </div>
                    <div class="interest">
                        <h3 class="interest-title">
                            Điều thú vị về tôi
                        </h3>
                        <p>
                            {{interestText}}
                        </p>
                    </div>
                    <div class="btn-ic-edit" (click)="showIcEdit()">
                        <i class='bx bx-edit-alt'></i>
                    </div>
                    <div class="ic-edit" [ngClass]="isShowIcEdit ? 'show' : '' " style="overflow-y:auto;">
                        <div class="text-description">
                            <textarea [ngModel]="desText" (ngModelChange)="updateValue('desText', $event)">
                                {{userData?.userInfo?.description}}
                            </textarea>
                        </div>
                        <div class="prize">
                            <h3 class="prize-title">
                                Giải thưởng
                            </h3>
                            <textarea [ngModel]="prizeText" (ngModelChange)="updateValue('prizeText', $event)">
                                {{userData?.userInfo?.prize}}
                            </textarea>
                        </div>
                        <div class="interest">
                            <h3 class="interest-title">
                                Điều thú vị về tôi
                            </h3>
                            <textarea [ngModel]="interestText" (ngModelChange)="updateValue('interestText', $event)">
                                {{userData?.userInfo?.interest}}
                            </textarea>
                        </div>
                        <div class="btn-edit-control">
                            <a href="javascript:void(0)" class="btn-save" (click)="saveIc()">Lưu</a>
                            <a href="javascript:void(0)" class="btn-cancel" (click)="hideIcEdit()">Hủy</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="feature-wrapper">
                <h3 class="feature-title">Ngôn ngữ & Máy ảnh</h3>
                <div class="feature-content">
                    <div class="language">
                        <div class="language-title">
                            <img src="./assets/images/icons/translate.png" alt="">
                            <h3>Ngôn ngữ</h3>
                        </div>
                        <p>
                            {{languageText}}
                        </p>
                    </div>
                    <div class="camera">
                        <div class="camera-title">
                            <img src="./assets/images/icons/camera.png" alt="">
                            <h3>Máy ảnh</h3>
                        </div>
                        <p>
                            {{cameraText}}
                        </p>
                    </div>
                    <div class="btn-feature-edit" (click)="showFeEdit()">
                        <i class='bx bx-edit-alt'></i>
                    </div>
                </div>
                <div class="feature-edit" [ngClass]="isShowFeEdit ? 'show' : '' ">
                    <h3 class="feature-title">Ngôn ngữ & Máy ảnh</h3>
                    <div class="feature-content">
                        <div class="language">
                            <div class="language-title">
                                <img src="./assets/images/icons/translate.png" alt="">
                                <h3>Ngôn ngữ</h3>
                            </div>
                            <textarea [ngModel]="languageText">
                                {{userData?.userInfo?.language}}
                            </textarea>
                        </div>
                        <div class="camera">
                            <div class="camera-title">
                                <img src="./assets/images/icons/camera.png" alt="">
                                <h3>Máy ảnh</h3>
                            </div>
                            <textarea [ngModel]="cameraText">
                                {{userData?.userInfo?.camera}}
                            </textarea>
                        </div>
                    </div>
                    <div class="btn-edit-control">
                        <a href="javascript:void(0)" class="btn-save" (click)="saveFe()">Lưu</a>
                        <a href="javascript:void(0)" class="btn-cancel" (click)="hideFeEdit()">Hủy</a>
                    </div>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="portfolio">
                <div class="portfolio-title">
                    <h3>
                        My Portfolio
                    </h3>
                    <a href="javascript:void(0);" (click)="showAddPortfo()">
                        <i class='bx bx-plus-circle'></i>
                    </a>
                </div>
                <div class="portfolio-content">

                    <div class="portfolio-item" *ngFor="let d of decesData?.category; let i = index">
                        <a href="javascript:void(0);">
                            <div class="it-header">
                                <img src="{{d.images[0]}}" alt="">
                            </div>
                            <div class="it-footer">
                                <h3 class="it-cate">{{d.name}}</h3>
                                <span class="it-count-picture">{{d.images.length}}</span>
                                <div class="btn-portfolio-edit" (click)="toggleAsk(d.name)">
                                    <i class='bx bx-edit-alt'></i>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="appraise">
                <div class="appraise-title">
                    <h3>Đánh Giá</h3>
                    <div class="rate">
                        <div class="rate-star">
                            <ng-container *ngIf="countRate > 0 && countRate <= 1">
                                <i *ngFor="let r of review1Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 1 && countRate <= 2">
                                <i *ngFor="let r of review2Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 2 && countRate <= 3">
                                <i *ngFor="let r of review3Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 3 && countRate <= 4">
                                <i *ngFor="let r of review4Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate > 4 && countRate <= 5">
                                <i *ngFor="let r of review5Star" [class]="r"></i>
                            </ng-container>
                            <ng-container *ngIf="countRate === 0">
                                <i *ngFor="let r of review5Star" [class]="r"></i>
                            </ng-container>
                        </div>
                        <span class="rate-text">{{countRate}}</span>
                    </div>
                </div>
                <div class="appraise-content">
                    <div class="appraise-item" *ngFor="let r of reviewData">
                        <div class="ai-header">
                            <div class="header-avatar">
                                <img src="./assets/images/avatar_review.jpg" alt="">
                                <span class="header-name">{{r.cus_name}}</span>
                                <div class="header-rate">
                                    <ng-container [ngSwitch]="r.rate">
                                        <ng-container *ngSwitchCase="1">
                                            <i *ngFor="let r of review1Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="2">
                                            <i *ngFor="let r of review2Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="3">
                                            <i *ngFor="let r of review3Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="4">
                                            <i *ngFor="let r of review4Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchCase="5">
                                            <i *ngFor="let r of review5Star" [class]="r"></i>
                                        </ng-container>
                                        <ng-container *ngSwitchDefault>
                                            <i *ngFor="let r of review5Star" [class]="r"></i>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </div>
                            <div class="header-date">{{r.date}}</div>
                        </div>
                        <div class="ai-comment">
                            <p>{{r.description}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="deliver-line"></div>

            <div class="how-it-works">
                <h3 class="hiw-title">How it Works</h3>
                <div class="hiw-content">
                    <div class="hiw-item">
                        <div class="item-title">
                            <div class="title-icon">
                                <i class='bx bx-calendar-check'></i>
                            </div>
                            <h3 class="title-text">Book.</h3>
                        </div>
                        <div class="item-content">
                            <div class="content-deliver">
                                <p></p>
                            </div>
                            <div class="content-text">
                                <p>Nhanh chóng tìm thấy một nhiếp ảnh gia được xếp hạng hàng đầu gần bạn. Đặt chỗ phù
                                    hợp cho khoảnh khắc đặc biệt của bạn chỉ bằng vài cú nhấp chuột đơn giản.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hiw-item">
                        <div class="item-title">
                            <div class="title-icon">
                                <i class='bx bxs-camera'></i>
                            </div>
                            <h3 class="title-text">Sheet.</h3>
                        </div>
                        <div class="item-content">
                            <div class="content-deliver">
                                <p></p>
                            </div>
                            <div class="content-text">
                                <p>Hãy thư giãn và tận hưởng khoảnh khắc khi một nhiếp ảnh gia giàu kinh nghiệm chụp ảnh
                                    cho bạn. Họ sẽ chăm sóc tất cả các chi tiết.</p>
                            </div>
                        </div>
                    </div>
                    <div class="hiw-item">
                        <div class="item-title">
                            <div class="title-icon">
                                <i class='bx bx-happy-alt'></i>
                            </div>
                            <h3 class="title-text">Enjoy!.</h3>
                        </div>
                        <div class="item-content">
                            <div class="content-deliver">
                            </div>
                            <div class="content-text">
                                <p>
                                    Trong vòng 2 ngày làm việc kể từ ngày chụp ảnh, bạn sẽ có thể xem, tải xuống và chia
                                    sẻ. Tận hưởng tất cả một lần nữa và một lần nữa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- <div class="order-wrapper" [ngClass]="isShowOrder ? 'show': '' ">
        <div class="order-container">
            <h4>Cập nhật lịch trình</h4>
            <div class="mess-valid" *ngIf="isError">
                {{ errorMessage }}
            </div>
            <div class="order-content">
                <div class="filter-date-picker">
                    <label for="ngay-chup">Ngày chụp:</label>
                    <app-date-picker (selectedDateChange)="onDateChange($event)" [(selectedDate)]="selectedDateU"
                        [textDefault]="'Ngày'"></app-date-picker>
                </div>
                <div class="filter-tl">
                    <label for="thoi-luong">Thời lượng (giờ):</label>
                    <app-custom-select (selectedOptionChange)="onOptionTLChange($event)"
                        [(selectedOption)]="selectedOptionTL" [textDefault]="'Thời lượng'">
                        <option custom-option value="1">1 giờ</option>
                        <option custom-option value="2">2 giờ</option>
                        <option custom-option value="3">3 giờ</option>
                        <option custom-option value="4">4 giờ</option>
                        <option custom-option value="5">5 giờ</option>
                        <option custom-option value="6">6 giờ</option>
                        <option custom-option value="7">7 giờ</option>
                        <option custom-option value="8">8 giờ</option>
                    </app-custom-select>
                </div>
                <div class="set-time">
                    <label for="gio-hen">Giờ hẹn:</label>
                    <input [(ngModel)]="setTimeVal" type="time" id="gio-hen" name="gio-hen" required>
                </div>

                <div class="filter-type">
                    <label for="thoi-luong">Loại chụp</label>
                    <app-custom-select (selectedOptionChange)="onOptionTypeChange($event)"
                        [(selectedOption)]="selectedOptionType" [textDefault]="'Chọn loại chụp'">
                        <option custom-option value="chup-san-pham">Chụp sản phẩm</option>
                        <option custom-option value="chup-chan-dung">Chụp chân dung</option>
                        <option custom-option value="chup-canh">Chụp cảnh</option>
                    </app-custom-select>
                </div>

                <a href="javascript:void(0)" (click)="onSubmit()">Đặt lịch</a>
                <div class="deliver-line"></div>
                <p class="p-footer">300.000 <span>1 tiếng</span></p>
                <div class="deliver-line"></div>
                <span class="sug-foot">
                    <i class='bx bx-check'></i>
                    15 ảnh có độ phân giải cao ở định dạng JPEG
                </span>
                <span class="sug-foot">
                    <i class='bx bx-check'></i>
                    Đã chỉnh sửa và chỉnh màu
                </span>
                <span class="sug-foot">
                    <i class='bx bx-check'></i>
                    Giao hàng sau 2 ngày làm việc
                </span>
            </div>
        </div>
        <div class="btn-close-order" (click)="hideOrder()">
            <i class="bx bx-x"></i>
        </div>
    </div> -->

    <div class="order-wrapper" *ngIf="isShowOrder">
        <div class="order-container">
            <h4>Cập nhật</h4>
            <div class="order-content">
                <div (click)="showAddCate()">
                    <a href="javascript:void(0)">Thêm danh mục chụp ảnh</a>
                </div>
                <div (click)="showEditCate()">
                    <a href="javascript:void(0)">Cập nhật danh mục chụp ảnh</a>
                </div>
                <div>
                    <a href="javascript:void(0)" (click)="showEditAvatar()">Cập nhật ảnh đại diện</a>
                </div>
                <div>
                    <a href="javascript:void(0)" (click)="showAddWallImages()">Cập nhật ảnh của bạn</a>
                </div>
            </div>
        </div>
        <a class="btn-close-order" (click)="hideOrder()" *ngIf="isShowBtnCloseOrder">
            <i class="bx bx-x"></i>
        </a>
    </div>

    <div class="toggle-order-wrapper" *ngIf="!isShowOrder" (click)="showOrder()">
        <i class='bx bx-plus-circle'></i>
    </div>

    <div class="ask-repair-wrapper" [ngClass]="isShowAskRepair ? 'active' : '' ">
        <div class="ask-repair-container">
            <div class="ask-repair-content">
                <div class="repair-title">
                    <h2>{{modalName}}</h2>
                    <div class="deliver-line"></div>
                </div>
                <div class="repair-cont">
                    <div class="repair-picture">
                        <div class="picture-wrapper">
                            <div class="picture-item" *ngFor="let mi of modalImagesRepair;let i = index">
                                <img src="{{mi}}" alt="" srcset="">
                                <a href="javascript:void(0;)" class="btn-del-image" (click)="delPicture(i)">
                                    <i class='bx bx-x'></i>
                                </a>
                            </div>
                            <div class="picture-item" *ngFor="let imageData of imageData; let i = index">
                                <img src="{{imageData.url}}" alt="" srcset="">
                                <a href="javascript:void(0)" class="btn-del-image" (click)="deleteImageFromAsk(i)">
                                    <i class='bx bx-x'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ask-repair-button">
                    <div class="rs-left">
                        <input type="file" id="hiddenFileInput" style="display: none"
                            (change)="onFileInputChange($event)" accept="image/*" multiple>
                        <a href="javascript:void(0)" class="btn-upload-repair" (click)="triggerFileInput()">Tải lên</a>
                    </div>
                    <div class="rs-right">
                        <a href="javascript:void(0)" class="btn-submit-repair" (click)=submitRepair()>Cập nhật</a>
                    </div>
                </div>
                <a href="javascript:void(0)" (click)="closeAsk()" class="btn-close-ask">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>

    <div class="add-new-portfo" [ngClass]="isShowAddPortfo ? 'active' : '' ">
        <div class="new-portfo-container">
            <div class="new-portfo-content">
                <div class="new-portfo-title">
                    <h2>Thêm mới</h2>
                    <div class="deliver-line"></div>
                </div>
                <div class="new-portfo-cont">
                    <div class="name-wapper">
                        <label for="name">Tên</label>
                        <input type="text" name="name" id="name" [(ngModel)]="portfo_name">
                    </div>
                    <div class="image-wrapper">
                        <div class="upload-control">
                            <label for="image">Ảnh</label>
                            <input type="file" name="image" id="image" accept="image/*" (change)="previewImages($event)"
                                multiple>
                        </div>
                        <div class="list-preview">
                            <div class="preview-item" *ngFor="let preview of imagePreviews; let i = index">
                                <div class="preview-content">
                                    <img [src]="preview" alt="Preview Image"
                                        style="max-width: 100%; max-height: 200px;">
                                    <a class="item-close" href="javascript:void(0);"
                                        (click)="deleteImageOfNewPortfo(i)">
                                        <i class="bx bx-x"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit-portfo-wrapper">
                        <div class="btn-add-portfo" (click)="addNewPortfo()">
                            <a class="" href="javascript:void(0);">Thêm</a>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" (click)="closeNewPortfo()" class="btn-close-newPortfo">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>

    <div class="toggle-warehouse-wrapper" (click)="toggleWarehouse()" *ngIf="!isShowWarehouse">
        <i class='bx bx-left-arrow-circle'></i>
    </div>

    <div class="warehouse-menu" *ngIf="isShowWarehouse">
        <div class="warehouse-content">
            <div>
                <a [routerLink]="['/ware-house-picture', partnerId]">Kho ảnh trả</a>
            </div>
            <div>
                <a [routerLink]="['/ware-house-repair', partnerId]">Kho ảnh yêu cầu sửa</a>
            </div>
        </div>
        <a href="javascript:void(0);" class="close-warehouse" (click)="hideWarehouse()" *ngIf="isShowBtnCloseWarehouse">
            <i class="bx bx-x"></i>
        </a>
    </div>

    <div class="add-new-cate" *ngIf="isShowAddCate">
        <div class="new-portfo-container">
            <div class="new-portfo-content">
                <div class="new-portfo-title">
                    <h2>Thêm mới</h2>
                    <div class="deliver-line"></div>
                </div>
                <div class="new-portfo-cont">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    <label for="cate_name">Tên danh mục chụp</label>
                                </td>
                                <td>
                                    <label for="cate_cost">Giá</label>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="cate_name" id="cate_name" [(ngModel)]="cate_name">
                                </td>
                                <td>
                                    <input type="number" name="cate_cost" id="cate_cost" [(ngModel)]="cate_cost">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <a href="javascript:void(0)" (click)="addNewCate()" class="btn-add-newPortfo">
                        Thêm
                    </a>
                </div>
                <a href="javascript:void(0)" (click)="closeNewCate()" class="btn-close-newPortfo">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>

    <div class="edit-new-cate" *ngIf="isShowEditCate">
        <div class="new-portfo-container">
            <div class="new-portfo-content">
                <div class="new-portfo-title">
                    <h2>Cập nhập</h2>
                    <div class="deliver-line"></div>
                </div>
                <div class="new-portfo-cont">
                    <table>
                        <thead>
                            <tr>
                                <td>
                                    Tên danh mục chụp
                                </td>
                                <td>
                                    Giá
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let t of infoData?.typeOfPhoto">
                                <ng-container *ngIf="t">
                                    <td>
                                        <input type="text" [(ngModel)]="t.name">
                                    </td>
                                    <td>
                                        <input type="number" [(ngModel)]="t.cost">
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                    <a href="javascript:void(0)" (click)="editCate()" class="btn-add-newPortfo">
                        Cập nhật
                    </a>
                </div>
                <a href="javascript:void(0)" (click)="closeEditCate()" class="btn-close-newPortfo">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>

    <div class="edit-avatar" *ngIf="isShowEditAvatar">
        <div class="new-portfo-container">
            <div class="new-portfo-content">
                <div class="new-portfo-title">
                    <h2>Sửa ảnh đại diện</h2>
                    <div class="deliver-line"></div>
                </div>
                <div class="new-portfo-cont">
                    <div>
                        <input type="file" name="" id="avatarInput" [(ngModel)]="editAvatarFile"
                            (change)="onChooseAvatarEdit($event)">
                    </div>
                    <div class="preview-edit-avatar">
                        <img src="{{previewAvatarEdit}}" alt="">
                    </div>
                    <a href="javascript:void(0)" (click)="onEditAvatar()" class="btn-add-newPortfo">
                        Thêm
                    </a>
                </div>
                <a href="javascript:void(0)" (click)="hideEditAvatar()" class="btn-close-newPortfo">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>


    <div class="add-wall-wrapper" *ngIf="isShowAddWall">
        <div class="ask-repair-container">
            <div class="ask-repair-content">
                <div class="repair-title">
                    <h2>Cập nhật ảnh</h2>
                    <span>(8/8 ảnh)</span>
                    <div class="deliver-line"></div>
                </div>
                <div class="repair-cont">
                    <div class="repair-picture">
                        <div class="picture-wrapper">
                            <div class="picture-item" *ngFor="let image of addWallUrl; let i = index">
                                <img src="{{image}}" alt="" srcset="">
                                <a href="javascript:void(0)" class="btn-del-image" (click)="deleteImageFromWall(i)">
                                    <i class='bx bx-x'></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ask-repair-button">
                    <div class="rs-left">
                        <input type="file" id="hiddenFileInputWall" style="display: none"
                            (change)="onFileInputWallChange($event)" accept="image/*" multiple>
                        <a href="javascript:void(0)" class="btn-upload-repair" (click)="triggerAddFileWall()">Tải
                            lên</a>
                    </div>
                    <div class="rs-right">
                        <a href="javascript:void(0)" class="btn-submit-repair" (click)=submitAddWall()>Cập nhật</a>
                    </div>
                </div>
                <a href="javascript:void(0)" (click)="hideAddWall()" class="btn-close-ask">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>


</div>