@import 'content/content-wrapper.component';
@import 'order-wrapper.component.scss';
@import 'ask-repair-wrapper.component.scss';
@import 'add-new-portfo.component.scss';
@import 'add-cate.component.scss';
@import 'edit-cate.component.scss';
@import 'edit-avatar.component.scss';
@import 'add-wall.component.scss';

.profile-content {
    position: relative;
    margin-top: 6rem;

    .wall-wrapper {
        .wall-content {
            display: grid;
            grid-template-columns: repeat(9, 1fr);
            column-gap: .3rem;
            height: 500px;

            .wall1,
            .wall2,
            .wall3,
            .wall4 {
                grid-column: span 2;
                height: 500px;
            }

            .wall2,
            .wall4 {
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .wall1,
            .wall3,
            .wall5 {
                display: flex;
                flex-direction: column;
                row-gap: .3rem;
            }

            .wall1 {

                .wall1-1,
                .wall1-2 {
                    height: calc(500px/2 - .15rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .wall3 {

                .wall3-1,
                .wall3-2 {
                    height: calc(500px/2 - .15rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .wall5 {

                .wall5-1,
                .wall5-2 {
                    height: calc(500px/2 - .15rem);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

}

.toggle-warehouse-wrapper {
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    z-index: 999;
    // display: none;
    font-size: 30px;
    border-radius: 50%;
    padding-top: 3.5px;
    padding-left: 5px;
    color: var(--color-light);


}

.warehouse-menu {
    position: fixed;
    right: 50px;
    bottom: 2rem;
    background-color: var(--color-light);
    // padding: .25rem;
    border-radius: 0.3rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 600;

    .warehouse-content {
        width: 300px;
        padding: 1.5rem 1rem;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        div {
            background-color: var(--color-warning);
            border-radius: .3rem;
            display: flex;
            justify-content: center;

            a {
                width: 100%;
                font-size: 16px;
                text-decoration: none;
                color: var(--color-light);
                line-height: 2.5em;
                position: relative;
                text-align: center;
            }
        }
    }

    .close-warehouse {
        position: absolute;
        top: -.4rem;
        right: -.3rem;
        font-size: 22px;
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background-color: var(--color-warning);
        text-decoration: none;
        color: var(--color-light);
        padding-top: 1px;
    }
}

@media(max-width:1200px) {

    .picture-wrapper {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media(max-width:991.98px) {
    // .order-wrapper {
    //     display: none;
    // }

    // .order-wrapper.show {
    //     display: block;
    // }

    // .toggle-order-wrapper {
    //     display: block !important;
    // }

    // .toggle-order-wrapper.hide {
    //     display: none !important;
    // }

    // .btn-close-order {
    //     display: block !important;
    // }

    .profile-content {
        .content-wrapper {
            padding: 2.5rem 2rem 0 !important;
        }

        .ic-edit {
            padding-right: 0 !important;
        }

        .feature-edit {
            padding-right: 0 !important;
        }
    }

    .picture-wrapper {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

@media(max-width:767.98px) {
    .profile-content {
        .content-wrapper {
            padding: 2.5rem 2rem 0 !important;

            .forMe-wrapper {

                .forMe-content {
                    flex-direction: column;
                    row-gap: 2rem;
                }
            }

            .info-wrapper {
                .portfolio {
                    .portfolio-content {
                        grid-template-columns: repeat(1, 1fr);
                    }
                }
            }
        }
    }
}

@media(max-width:575.98px) {
    .profile-content {
        .content-wrapper {}
    }

    .picture-wrapper {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}