<div class="custom-select">
    <div #selectButton class="select-button" (click)="toggleDropdown()">
        <span>{{ selectedOption || textDefault }}</span>
        <i *ngIf="!isDropdownOpen" class='bx bx-collapse-vertical'></i>
        <i *ngIf="isDropdownOpen" class='bx bx-expand-vertical'></i>
    </div>
    <ul #selectOptions class="select-options" [ngClass]="{'active': isDropdownOpen}">
        <li *ngFor="let option of options" (click)="selectOption(option.value)">
            {{ option.textContent }}
        </li>
    </ul>
    <select [(ngModel)]="selectedOption" style="display: none;" #selectElement>
        <ng-content select="[custom-option]"></ng-content>
    </select>
</div>