<div class="shop-content">
    <div class="content-wrapper">
        <div class="photo-popular-wrapper">
            <h2 class="ppopular-title">{{userCount}} nhiếp ảnh gia</h2>
            <div class="ppopular-wrapper">
                <div class="ppopular-item" *ngFor="let userdto of userInfoData">
                    <a [routerLink]="'/profile/' + userdto.user.id" class="ppopular-link">
                        <div class="ppopular-content">
                            <div class="pp-picture">
                                <div class="picture-1">
                                    <img [src]="'./assets/images/user/' + userdto.userInfo.img1" alt="">
                                </div>
                                <div class="picture-right">
                                    <div class="picture-2">
                                        <img [src]="'./assets/images/user/' + userdto.userInfo.img2" alt="">
                                    </div>
                                    <div class="picture-3">
                                        <img [src]="'./assets/images/user/' + userdto.userInfo.img3" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="pp-info">
                                <div class="info-left">
                                    <h4 class="info-title">{{ userdto.user.full_name }}</h4>
                                    <span class="info-address">{{ userdto.user.address }}</span>
                                </div>
                                <div class="info-right">
                                    <p class="info-price">{{ userdto.userInfo.cost }}/h</p>
                                    <div class="info-rate">
                                        <div class="rate-star">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                        </div>
                                        <span class="rate-text">5.0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pp-avatar">
                                <img [src]="'./assets/images/avatar/' + userdto.user.avatar" alt="avatar">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>