.shop-content {
    position: relative;
    //banner

    .content-wrapper {
        padding: 2.5rem 4rem 0;

        //forUs
        //...
    }
}

@media(min-width:1200px) {}

@media(max-width:991.98px) {}

@media(max-width:767.98px) {
    .shop-content {
        .content-wrapper {
            padding: 2.5rem 2rem 0 !important;
        }
    }
}

@media(max-width:575.98px) {}

.photo-popular-wrapper {
    margin-top: 4rem;
    position: relative;

    .ppopular-title {
        color: var(--color-primary);
        margin-bottom: 2rem;
    }

    .ppopular-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3.5rem;

        .ppopular-content {
            position: relative;
            max-height: 300px;
            border-radius: .3rem;

            a {
                color: var(--color-text-body)
            }

            .pp-picture {
                height: 100%;
                display: flex;
                column-gap: .2rem;

                .picture-1 {
                    flex: calc(60% - .1rem);
                    border-right: 1px solid var(--color-light);

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-top-left-radius: .3rem;
                        border-bottom-left-radius: .3rem;

                    }
                }

                .picture-right {
                    flex: calc(40% - .1rem);
                    display: flex;
                    row-gap: .1rem;
                    flex-direction: column;

                    .picture-2,
                    .picture-3 {
                        // flex: 1;
                        height: calc(100% - .1rem);

                        img {
                            height: calc(100% - .15rem);
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .picture-2 {
                        height: 40%;

                        img {
                            border-top-right-radius: .3rem;
                            border-bottom: 1px solid var(--color-light);

                        }
                    }

                    .picture-3 {
                        height: 60%;

                        img {
                            border-bottom-right-radius: .3rem;
                        }
                    }
                }
            }

            .pp-info {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
                min-height: 4.5rem;
                display: flex;
                justify-content: space-between;
                background-color: rgb(237, 237, 237);
                border-bottom-left-radius: .3rem;
                border-bottom-right-radius: .3rem;

                .info-left {
                    padding-left: 1rem;
                    padding-top: 0.75rem;

                    .info-title {
                        flex: 0 0 100%;
                        width: 100%;
                        margin: 0 0 0.25rem;
                        font-size: 20px;

                    }

                    .info-address {
                        flex: 0 0 100%;
                    }
                }

                .info-right {
                    padding-top: 0.75rem;
                    padding-right: 0.5rem;

                    .info-price {
                        width: 100%;
                        font-size: 14px;
                        text-align: right;
                        margin: 0;
                        margin-bottom: .75rem;
                    }

                    .info-rate {
                        display: flex;
                        justify-content: flex-end;

                        .rate-star {
                            margin-right: 0.3rem;

                            img {
                                width: 12px;
                                object-fit: cover;
                            }
                        }

                        .rate-text {
                            font-size: 14px;
                            padding-top: 2px;
                        }
                    }
                }
            }

            .pp-avatar {
                width: 3em;
                height: 3em;
                border-radius: 50%;
                position: absolute;
                bottom: 3.75rem;
                left: 1rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;

                }
            }
        }
    }

    .ppopular-detail {
        position: absolute;
        right: 0;
        top: 2rem;

        .ppopular-detail-link {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: var(--color-primary);

            i {
                font-size: 20px;
            }
        }

        .ppopular-detail-link::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 1.5px;
            background-color: var(--color-primary);
            bottom: -1px;
            left: 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
        }

        .ppopular-detail-link:hover::after {
            transform: scaleX(1);
        }
    }
}


@media(max-width:1350px) {
    .photo-popular-wrapper {
        .ppopular-wrapper {
            grid-template-columns: repeat(3, 1fr) !important;

        }
    }
}

@media(max-width:1100px) {

    .photo-popular-wrapper {
        .ppopular-wrapper {
            grid-template-columns: repeat(2, 1fr) !important;

        }
    }
}

@media(max-width:767.98px) {
    .photo-popular-wrapper {
        margin-top: 1.5rem !important;

        .ppopular-wrapper {
            .ppopular-content {
                .pp-info {
                    height: 7rem;
                    justify-content: flex-start;
                    flex-direction: column;

                    .info-right {
                        display: flex;
                        justify-content: flex-start;
                        padding-left: 1rem;

                        .info-price {
                            text-align: left;
                            width: auto;
                            margin-right: 1.5rem;
                        }

                        .info-rate {
                            justify-content: flex-start;
                        }
                    }
                }

                .pp-avatar {
                    bottom: 6.26rem;
                }
            }
        }
    }
}

@media(max-width:575.98px) {
    .photo-popular-wrapper {
        .ppopular-wrapper {
            grid-template-columns: repeat(1, 1fr) !important;
        }
    }

}