<div class="home-content">
    <div class="banner-wrapper">
        <div class="banner-container">
            <div class="banner-content">
                <img class="banner-image" src="./assets/images/banner.jpg" alt="banner">
            </div>
        </div>
        <div class="banner-search">
            <div class="bsearch-title">
                <h1 class="stitle">PhotoHub</h1>
                <p class="slogan">Picture - Perfect Memory, Just a Click Away</p>
            </div>
            <div class="bsearch-content">
                <div class="bsearch-quest-wrapper">
                    <input type="text" name="" id="bsearch-quest" placeholder="Dịch vụ bạn đang tìm kiếm ?">
                </div>
                <div class="bsearch-locate-wrapper">
                    <a class="locate-icon" href="javascript:void(0)">
                        <i class='bx bxs-map'></i>
                    </a>
                    <input type="text" name="" id="bsearch-locate" placeholder="Địa điểm">
                </div>
                <a href="javascript:void(0)" id="bsearch-icon">
                    <i class='bx bx-search'></i>
                </a>
            </div>
            <div class="bsearch-suggest">

            </div>
        </div>
    </div>
    <div class="content-wrapper">
        <div class="forUs-wrapper">
            <h2 class="forUs-title">Đến với chúng tôi</h2>
            <div class="fu-content-wrapper">
                <div class="fu-content">
                    <div class="icon-wrapper">
                        <!-- <a class="fu-icon1" href="javascript:void(0)">
                            <i class='bx bxs-map'></i>
                        </a> -->
                        <img class="fu-icon" src="./assets/images/icons/icon1.png" alt="">
                    </div>
                    <p class="fu-txt">Đội ngũ nhiếp ảnh chuyên nghiệp</p>
                </div>
                <div class="fu-content">
                    <div class="icon-wrapper">
                        <img class="fu-icon" src="./assets/images/icons/icon2.png" alt="">
                    </div>
                    <p class="fu-txt">Đảm bảo hài lòng khách hàng hoặc hoàn trả tiền nếu không đáp ứng đủ yêu cầu</p>
                </div>
                <div class="fu-content">
                    <div class="icon-wrapper">
                        <img class="fu-icon" src="./assets/images/icons/icon3.png" alt="">
                    </div>
                    <p class="fu-txt">Có đến 800+ nhiếp ảnh trên PhotoHub với 4.5+ start đánh giá</p>
                </div>
            </div>
        </div>
        <div class="photo-popular-wrapper">
            <h2 class="ppopular-title">Nhiếp ảnh gia phổ biến</h2>
            <div class="ppopular-wrapper">
                <div class="ppopular-item " *ngFor="let user of userInfoData; let i = index;">
                    <a routerLink="/profile/{{user.user.id}}" class="ppopular-link">
                        <div class="ppopular-content">
                            <div class="pp-picture">
                                <div class="picture-1">
                                    <img src="{{user.userInfo.img1}}" alt="">
                                </div>
                                <div class="picture-right">
                                    <div class="picture-2">
                                        <img src="{{user.userInfo.img2}}" alt="">
                                    </div>
                                    <div class="picture-3">
                                        <img src="{{user.userInfo.img3}}" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="pp-info">
                                <div class="info-left">
                                    <h4 class="info-title">{{user.user.full_name}}</h4>
                                    <span class="info-address">{{user.user.address}}</span>
                                </div>
                                <div class="info-right">
                                    <p class="info-price">{{user.userInfo.cost}}/h</p>
                                    <div class="info-rate">
                                        <div class="rate-star">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                            <img src="./assets/images/icons/star-fill.png" alt="">
                                        </div>
                                        <span class="rate-text">5.0</span>
                                    </div>
                                </div>
                            </div>
                            <div class="pp-avatar">
                                <img src="./assets/images/avatar/avatar1.jpeg" alt="avatar">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="ppopular-detail">
                <a class="ppopular-detail-link" routerLink="/collection">Xem tất cả
                    <i class='bx bx-chevron-right'></i>
                </a>
            </div>
        </div>
        <div class="category-wrapper">
            <h2 class="category-title">Thể loại</h2>
            <div class="cate-content-wrapper">
                <div class="cate-content">
                    <a routerLink="/collection">
                        <div class="cate-picture">
                            <div class="picture-wrapper">
                                <img src="./assets/images/user/Rectangle 23.png" alt="">
                            </div>
                        </div>
                        <div class="cate-name">
                            <div class="text-name">
                                <h4>Du lịch</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cate-content">
                    <a routerLink="/collection">
                        <div class="cate-picture">
                            <div class="picture-wrapper">
                                <img src="./assets/images/user/Rectangle 24.png" alt="">
                            </div>
                        </div>
                        <div class="cate-name">
                            <div class="text-name">
                                <h4>LookBook</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cate-content">
                    <a routerLink="/collection">
                        <div class="cate-picture">
                            <div class="picture-wrapper">
                                <img src="./assets/images/user/Rectangle 25.png" alt="">
                            </div>
                        </div>
                        <div class="cate-name">
                            <div class="text-name">
                                <h4>Catalogue</h4>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="cate-content">
                    <a routerLink="/collection">
                        <div class="cate-picture">
                            <div class="picture-wrapper">
                                <img src="./assets/images/user/Rectangle 26.png" alt="">
                            </div>
                        </div>
                        <div class="cate-name">
                            <div class="text-name">
                                <h4>Khác</h4>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

        </div>
        <div class="description-wrapper">
            <h2 class="des-title">Nắm bắt khoảnh khắc của bạn
                <span>chỉ với 3 bước</span>
            </h2>
            <div class="des-content-wrapper">
                <div class="des-content">
                    <div class="des-left">
                        <div class="des-attention">
                            <h4 class="des-atten-title">
                                <i class="bx bx-search"></i>
                                Tìm kiếm nhiếp ảnh gia
                            </h4>
                            <div class="des-atten-text">
                                Tìm kiếm những nhiếp ảnh gia xung quanh khu vực bạn với giá cả hợp lý, phù hợp với nhu
                                cầu của bạn. Tham khảo hồ sơ và thêm ngay các nhiếp ảnh gia vào danh mục yêu thích.
                            </div>
                        </div>
                        <div class="des-attention">
                            <h4 class="des-atten-title">
                                <i class='bx bx-calendar-check'></i>
                                Đặt lịch hẹn
                            </h4>
                            <div class="des-atten-text">
                                Sau khi lựa chọn xong nhiếp ảnh gia phù hợp, nhanh chóng đặt lịch chỉ bằng vài thao tác
                                chuột. Nhiếp ảnh gia sẽ xác nhận và cùng chờ đợi đến ngày chụp ảnh.
                            </div>
                        </div>
                        <div class="des-attention">
                            <h4 class="des-atten-title">
                                <i class='bx bx-smile'></i>
                                Chia sẻ khoảnh khắc tuyệt vời của bạn
                            </h4>
                            <div class="des-atten-text">
                                Hãy giữ liên lạc với nhiếp ảnh gia của bạn trong và sau khi nhận booking. Sau ngày chụp
                                ảnh, bạn có thể lựa chọn và chia sẻ các bức hình đẹp mà nhiếp ảnh gia đã chụp và xử lý.
                            </div>
                        </div>
                    </div>
                    <div class="des-right">
                        <div class="right-picture-first">
                            <div class="rf-left">
                                <div class="rf-left-first">
                                    <img src="./assets/images/user/Rectangle 28.png" alt="">
                                </div>
                                <div class="rf-left-second">
                                    <img src="./assets/images/user/Rectangle 34.png" alt="">
                                    <img src="./assets/images/user/Rectangle 35.png" alt="">
                                </div>
                            </div>
                            <div class="rf-right">
                                <img class="rf-right-img1" src="./assets/images/user/Rectangle 29.png" alt="">
                                <img class="rf-right-img2" src="./assets/images/user/Rectangle 30.png" alt="">
                            </div>
                        </div>
                        <div class="right-picture-second">
                            <img src="./assets/images/user/Rectangle 32.png" alt="">
                            <img src="./assets/images/user/Rectangle 47.png" alt="">
                            <img src="./assets/images/user/Rectangle 33.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="call-contact-warpper">
            <div class="contact-bg">
                <img src="./assets/images/user/Rectangle 36.png" alt="">
            </div>
            <div class="contact-text">
                <h3 class="contact-title">
                    Bạn có phải là một nhiếp ảnh gia chuyên nghiệp và đầy tham vọng?
                </h3>
                <p>Tham gia cộng đồng PhotoHub và nhận booking job ngay hôm nay</p>
                <a class="contact-link" routerLink="">
                    Đăng ký ngay
                </a>
            </div>
        </div>
    </div>
</div>