<div class="layout-menu">
    <div class="menu-container">
        <ng-container *ngFor="let url of urls">
            <ng-container *ngIf="url.children else el">
                <li class="menu-item dropdown">
                    <a class="menu-link">{{ url.value }}
                        <i class="bx bx-collapse-vertical icon-collapse"></i>
                        <i class="bx bx-expand-vertical icon-expand"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <ng-container *ngFor="let child of url.children">
                            <li class="dropdown-item">
                                <a [routerLink]="['/collection']"
                                    [queryParams]="{ category: url.key, subcategory: child.key }"
                                    class="dropdown-link">{{ child.value }}</a>
                            </li>
                        </ng-container>
                    </ul>
                </li>
            </ng-container>
            <ng-template #el>
                <li class="menu-item">
                    <a [routerLink]="['/collection']" [queryParams]="{ category: url.key}" class="menu-link">
                        {{ url.value }}
                    </a>
                </li>
            </ng-template>
        </ng-container>
    </div>
</div>