.register-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url('/assets/images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;

    .register-container {
        padding: 2rem;
        border-radius: .5rem;
        width: 700px;
        margin: auto;
        min-height: calc(100vh - 4rem);
        height: 100%;
        background-color: rgba(255, 255, 255, 0.66);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

        .register-header {
            display: flex;
            flex-direction: column;
            margin-bottom: 1rem;
            position: relative;

            .go-home {
                position: absolute;
                top: 0rem;
                left: 0rem;

                .go-home-link {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    text-decoration: none;
                    color: var(--color-primary);
                    font-weight: bold;
                    position: relative;
                }
            }

            .register-title {
                text-align: center;
                color: var(--color-primary);
                font-size: 32px;
                font-weight: bold;
            }

            .brand {
                display: flex;
                justify-content: center;

                .brand-link {
                    .brand-image {
                        width: 5rem;
                        height: 5rem;
                        object-fit: cover;
                    }
                }
            }
        }

        .register-message {
            color: red;
            margin-bottom: 1.5rem;
        }

        .register-content {
            form {
                width: 100%;

                .form-group {
                    position: relative;
                    margin-bottom: 15px;

                    label {
                        display: block;
                        margin-bottom: 5px;
                        color: gray;
                        font-weight: 600;
                        font-size: 18px;
                    }

                    input {
                        width: 100%;
                        padding: 15px 10px;
                        border: 2px solid gray;
                        border-radius: 5px;
                        background-color: transparent;
                        outline: none;

                        &:focus {
                            border-color: var(--color-primary);
                        }
                    }

                    .password-wrapper {
                        position: relative;

                        #hidePassword,
                        #showPassword,
                        #hideConfirmPassword,
                        #showConfirmPassword {
                            position: absolute;
                            right: 10px;
                            top: calc(50% + 3px);
                            transform: translateY(-50%);
                            text-decoration: none;
                            font-size: 20px;
                            color: var(--color-primary);
                            display: none;

                            i {}

                        }

                        #hidePassword.show,
                        #showPassword.show,
                        #hideConfirmPassword.show,
                        #showConfirmPassword.show {
                            display: block;
                        }
                    }

                    .validate-message {
                        width: 100%;
                        font-size: 14px;
                        color: rgb(255, 24, 24);
                    }

                    .forgot-password {
                        position: absolute;
                        top: 100%;
                        color: var(--color-primary);
                        width: 100%;
                        right: 0;
                        text-align: right;
                    }
                }

                button {
                    margin-top: 3rem;
                    display: block;
                    width: 100%;
                    padding: 15px 10px;
                    background-color: var(--color-primary);
                    color: #fff;
                    border: none;
                    border-radius: 5px;
                    font-size: 20px;
                    cursor: pointer;

                    &:hover {
                        background-color: #0056b3;
                    }
                }
            }
        }

        .wall-login {
            margin: 2rem 0;
            display: flex;
            align-items: center;

            .line-left,
            .line-right {
                flex-grow: 1;
                height: 2px;
                background-color: var(--color-primary);
            }

            span {
                margin: 0 10px;
                /* Add horizontal spacing around the text */
                white-space: nowrap;
                /* Prevent the text from wrapping */
            }
        }

        .register-footer {
            .register-option {
                margin-bottom: 1rem;
                display: flex;
                justify-content: center;
                column-gap: 1.5rem;

                .register-option-icon {
                    font-size: 42px;
                    color: var(--color-primary);
                    text-decoration: none;
                }
            }

            .login {
                a {
                    position: relative;
                    text-decoration: none;
                    color: var(--color-primary);
                }

                a::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1.5px;
                    background-color: var(--color-primary);
                    bottom: -1px;
                    left: 0;
                }
            }
        }
    }
}

@media(max-width:767.98px) {
    .register-wrapper {
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;

        .register-container {
            width: 100%;
            // padding: 0.5rem 2rem;
            min-height: calc(100vh - 2rem);


            .register-header {
                .go-home {
                    top: -.5rem;
                    left: -1rem;
                }
            }

            .register-content {
                form {
                    .form-group {
                        input {
                            width: 100%;
                            padding: 10px;
                        }

                        .validate-message {
                            font-size: 12px;
                        }
                    }

                    button {
                        margin-top: 2rem;
                        padding: 10px;
                        font-size: 17px;
                    }
                }
            }

            .wall-login {
                margin: 1rem 0;
            }

            .register-footer {
                .register-option {
                    margin-bottom: 1rem;
                    display: flex;
                    justify-content: center;
                    column-gap: 1.5rem;

                    .register-option-icon {
                        font-size: 26px;
                        color: var(--color-primary);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}