<div class="layout-footer">
    <div class="footer-wrapper">
        <div class="footer-container">
            <div class="footer-content">
                <div class="ft-content-left">
                    <h5 class="ft-l-title">Về PhotoHub</h5>
                    <p class="ft-l-text">PhotoHub là trang web hàng đầu Việt Nam về
                        kết nối những người đam mê và chuyên nghiệp về nhiếp ảnh với
                        những quý khách hàng muốn lưu giữ những khoảnh khắc đẹp nhất
                        trong cuộc đời
                    </p>
                    <a routerLink="" class="ft-l-link">Xem thêm</a>
                </div>
                <div class="ft-content-middle">
                    <li class="ft-m-item">
                        <a routerLink="" class="ft-m-link">Blog</a>
                    </li>
                    <p class="dots"><i class='bx bxs-circle'></i></p>
                    <li class="ft-m-item">
                        <a routerLink="" class="ft-m-link">Support</a>
                    </li>
                    <p class="dots"><i class='bx bxs-circle'></i></p>
                    <li class="ft-m-item">
                        <a routerLink="" class="ft-m-link">Term</a>
                    </li>
                    <p class="dots"><i class='bx bxs-circle'></i></p>
                    <li class="ft-m-item">
                        <a routerLink="" class="ft-m-link">Policy</a>
                    </li>
                </div>
                <div class="ft-content-right">
                    <p>@2003 PhotoHub</p>
                </div>
            </div>
        </div>
    </div>
</div>