<div class="page-pr-wrapper">
    <div class="page-header">
        <div class="header-content">
            <div class="header-left">
                <h2>Bộ sưu tập ảnh</h2>
                <p>Hãy cùng thưởng thức bức hình tuyệt vời của bạn!</p>
            </div>
            <div class="header-right">
                <a routerLink="/home">Trang chủ</a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- <div class="btn-control-wrapper">
            <a href="javascript:void(0)" class="btn-control active">23/09/2023</a>
            <a href="javascript:void(0)" class="btn-control">15/09/2023</a>
        </div> -->
        <!-- <div class="picture-wrapper">
            <div class="picture-content">
                <div class="picture-item">
                    <img src="./assets/images/user/Hy vuông 2.jpg" alt="">
                </div>
                <div class="picture-item">
                    <img src="./assets/images/user/Thanh Bình 3.jpg" alt="">
                </div>
                <div class="picture-item">
                    <img src="./assets/images/user/Hy vuông 2.jpg" alt="">
                </div>
                <div class="picture-item">
                    <img src="./assets/images/user/Thanh Bình 3.jpg" alt="">
                </div>
                <div class="picture-item">
                    <img src="./assets/images/user/Hy vuông 2.jpg" alt="">
                </div>
            </div>
        </div> -->
        <div class="link-dow-wrapper">
            <div class="link-dow-content">
                <ng-container *ngIf="order.link_down !== ''; else elseBlock">
                    <a href="{{order.link_down}}" target="_blank" class="btn-get-link">
                        Link Download
                    </a>
                </ng-container>

                <ng-template #elseBlock>
                    <a href="javascript:void(0);" class="btn-get-link">
                        Link Download
                    </a>
                </ng-template>

                <span>File ảnh có định dang JPEG</span>
            </div>
            <div class="link-dow-footer">
                <a href="javascript:void(0)" (click)="toggleAsk()">Yêu cầu sửa ảnh</a>
            </div>
        </div>
        <div class="review-wrapper">
            <div class="review-title">
                <p>
                    Đánh giá của bạn
                </p>
            </div>
            <div class="review-content">
                <div class="review-content-first">
                    <div class="rating">
                        <span>Chất lượng: </span>
                        <a href="javascript:void(0)" (click)="toggleDropdown()">
                            <!-- Stars for toggling the dropdown -->
                            <ng-container *ngFor="let star of selectedStars">
                                <i [class]="star"></i>
                            </ng-container>
                        </a>

                        <div *ngIf="isDropdownOpen" class="dropdownRate">
                            <li (click)="chooseRate(1)">
                                <i *ngFor="let star of selected1Stars" [class]="star"></i>
                            </li>
                            <li (click)="chooseRate(2)">
                                <i *ngFor="let star of selected2Stars" [class]="star"></i>
                            </li>
                            <li (click)="chooseRate(3)">
                                <i *ngFor="let star of selected3Stars" [class]="star"></i>
                            </li>
                            <li (click)="chooseRate(4)">
                                <i *ngFor="let star of selected4Stars" [class]="star"></i>
                            </li>
                            <li (click)="chooseRate(5)">
                                <i *ngFor="let star of selected5Stars" [class]="star"></i>
                            </li>
                        </div>
                    </div>
                    <div class="comment">
                        <p>Viết đánh giá</p>
                        <textarea name="comment" id="" cols="30" rows="5" [(ngModel)]="comment"></textarea>
                    </div>
                    <div class="sub-t">
                        <span>Tối đa 450 chữ</span>
                    </div>
                </div>
                <div class="review-content-second">
                    <a href="javascript:void(0)" class="btn btn-hide-inf" (click)="toggleHideInfo()">
                        Ẩn danh
                        <i class='bx bx-toggle-left' *ngIf="isHideInfo"></i>
                        <i class='bx bx-toggle-right' *ngIf="!isHideInfo"></i>
                    </a>
                    <a href="javascript:void(0)" class="btn btn-submit" (click)="onReview()">Đăng</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ask-repair-wrapper" [ngClass]="isShowAskRepair ? 'active' : '' ">
        <div class="ask-repair-container">
            <div class="ask-repair-content">
                <div class="repair-header">
                    <h2><i class='bx bx-chevron-left'></i>Yêu cầu sửa ảnh</h2>
                </div>
                <div class="repair-cont">
                    <div class="repair-content">
                        <div class="enter-code-picture">
                            <div class="ecp-title">Nhập yêu cầu sửa ảnh</div>
                            <div class="po-title">
                                Chính sách yêu cầu sửa ảnh
                            </div>
                        </div>
                        <div class="repair-police">
                            <div class="ecp-content">
                                <textarea name="" id="ecp-code" cols="30" rows="10" [(ngModel)]="des_refund"></textarea>
                            </div>
                            <div class="po-content-wr">
                                <div class="po-content">
                                    <li>Khách hàng điền mã ảnh đối với những bức ảnh mà mình muốn chỉnh sửa</li>
                                    <li>Số lượng bức ảnh được sửa phụ thuộc vào gói chụp ảnh đã thỏa thuận với nhiếp ảnh
                                        gia
                                        trước đó</li>
                                    <li>Truy cập lại file nhận ảnh để những bức ảnh đã được chỉnh sửa sau 2-3 ngày</li>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="repair-submit">
                        <div class="rs-left"></div>
                        <div class="rs-right">
                            <a href="javascript:void(0)" class="btn-submit-repair" (click)="sendAsk()">Gửi yêu cầu</a>
                        </div>
                    </div>
                </div>
                <a href="javascript:void(0)" (click)="closeAsk()" class="btn-close-ask">
                    <i class='bx bx-x'></i>
                </a>
            </div>
        </div>
    </div>
</div>