<div class="layout-header">
    <div class="header-container">
        <div class="header-content">
            <div class="brand">
                <div class="brand-logo">
                    <a routerLink="/home">
                        <img class="brand-image" src="./assets/images/logoo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="search-bar">
                <div class="search-container">
                    <div class="search-content">
                        <input id="search-input" type="text" placeholder="Dịch vụ bạn đang tìm kiếm ?" #inputSearch
                            [(ngModel)]="inputSearchValue" (input)="onChangeInputSearch($event)">
                        <a id="search-icon" href="javascript:void(0)">
                            <i class='bx bx-search'></i>
                        </a>
                    </div>
                    <div *ngIf="toggleSuggest" class="search-suggest">

                    </div>
                </div>
            </div>
            <div class="header-content-right">
                <li class="cright-item"><a class="cright-link" routerLink="/collection">Cách hoạt động</a></li>
                <li class="cright-item"><a class="cright-link" routerLink="/auth/login">Đăng nhập</a></li>
                <li class="cright-item"><a class="cright-link" routerLink="/auth/register">Đăng ký</a></li>
            </div>
            <div class="icon-toggle-bar">
                <a href="javascript:void(0)" class="toggle-search" (click)="showSearchMobile()">
                    <i class="bx bx-search"></i>
                </a>
                <a href="javascript:void(0)" class="toggle-menu" #iconToggle (click)="showMenu()">
                    <i class="bx bx-menu"></i>
                </a>
            </div>
            <div class="search-mobile" [ngClass]="{'show' : isSearchMobileVisible}">
                <div class="search-bar-mobile">
                    <input class="search-input-mobile" type="text" name="" id=""
                        placeholder="Dịch vụ bạn đang tìm kiếm ?" #inputSearchMobile
                        [(ngModel)]="inputSearchMobileValue" (input)="onChangeInputSearchMobile($event)">
                    <a class="search-iconClose-mobile" (click)="hideSearchMobile()" href="javascript:void(0)">
                        <i class="bx bx-x"></i>
                    </a>
                </div>
                <div *ngIf="toggleSuggestMobile" class="search-suggest-mobile">
                    <p>hi</p>
                    <p>hi</p>
                    <p>hi</p>
                    <p>hi</p>
                    <p>hi</p>
                </div>
            </div>
        </div>
        <div class="header-content-mobile" #headerContentMobile [ngClass]="{'show': isMenuVisible}">
            <div class="header-mobile-inner">
                <div class="brand-mobile">
                    <div class="brand-logo-mobile">
                        <a routerLink="/home">
                            <img class="brand-image-mobile" src="./assets/images/logoo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="menu-container-mobile">
                    <li class="menu-item" [ngClass]="{'active': isDropdownVisible}" #itemDropdown>
                        <a href="javascript:void(0)" class="menu-link" (click)="toggleDropdown()">Du lịch
                            <i *ngIf="!isDropdownVisible" class='bx bx-collapse-vertical'></i>
                            <i *ngIf="isDropdownVisible" class='bx bx-expand-vertical'></i>
                        </a>
                        <ul class="menu-dropdown" #menuDropdown [ngClass]="{'show': isDropdownVisible}">
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Chân dung</a>
                            </li>
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Phong cảnh</a>
                            </li>
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Đường phố</a>
                            </li>
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Thể thao</a></li>
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Kỷ yếu</a></li>
                        </ul>
                    </li>
                    <li class="menu-item" [ngClass]="{'active': isDropdown1Visible}" #itemDropdown1>
                        <a href="javascript:void(0)" class="menu-link" (click)="toggleDropdown1()">Booking
                            <i *ngIf="!isDropdown1Visible" class='bx bx-collapse-vertical'></i>
                            <i *ngIf="isDropdown1Visible" class='bx bx-expand-vertical'></i>
                        </a>
                        <ul class="menu-dropdown" #menuDropdown1 [ngClass]="{'show': isDropdown1Visible}">
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Thời trang</a>
                            </li>
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Phụ kiện</a></li>
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Mỹ phẩm</a></li>
                            <li class="menu-dropdown-item"><a routerLink="" class="menu-dropdown-link">Thực phẩm</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item"><a routerLink="" class="menu-link">Catalogue</a></li>
                    <li class="menu-item"><a routerLink="" class="menu-link">Khác</a></li>
                </div>
                <div class="control-mobile">
                    <li class="control-item item-col"><a class="control-link" routerLink="">Cách hoạt động</a></li>
                    <li class="control-item">
                        <a class="control-link" routerLink="/auth/login">
                            Đăng nhập
                            <!-- <i class='bx bx-log-in-circle'></i> -->
                        </a>
                    </li>
                    <li class="control-item">
                        <a class="control-link" routerLink="/auth/register">
                            Đăng ký
                            <!-- <i class='bx bx-registered'></i> -->
                        </a>
                    </li>
                </div>
                <div class="close-menu">
                    <a class="close-menu-icon" (click)="hideMenu()" href="javascript:void(0)"><i
                            class='bx bx-x'></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-overlay" [ngClass]="{'show': isMenuVisible}"></div>
</div>