.header-content-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 16.25rem;
    height: 100vh;
    background-color: var(--color-bg-body);
    display: none;
    padding-bottom: 2.5rem;
    z-index: 1080;

    .header-mobile-inner {
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .brand-mobile {
            padding-top: .5rem;
            position: sticky;
            top: 0;
            left: 0;
            right: 0;
            margin-bottom: 1.5rem;
            background-color: var(--color-bg-body);

            .brand-logo-mobile {
                display: flex;
                justify-content: center;

                .brand-image-mobile {
                    width: 5rem;
                    height: 5rem;
                    object-fit: cover;
                }
            }
        }

        .menu-container-mobile {
            margin-bottom: 2rem;
            min-height: calc(100vh - 17.5rem);

            .menu-item {
                display: block;
                list-style: none;

                .menu-link {
                    padding-left: 1.5rem;
                    line-height: 2.5rem;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    column-gap: .5rem;
                    text-decoration: none;
                    color: var(--color-primary);
                    font-size: 18px;
                    padding-right: 1.5rem;
                }

                .menu-dropdown {
                    display: none;
                    margin: 0;
                    padding: 0;

                    .menu-dropdown-item {
                        list-style: none;

                        .menu-dropdown-link {
                            padding-left: 2.25rem;
                            color: var(--color-primary);
                            line-height: 2.5rem;
                            width: 100%;
                            display: block;
                            text-decoration: none;
                            font-size: 17px;

                        }
                    }
                }

                .menu-dropdown.show {
                    display: block !important;
                }
            }

            .menu-item:hover {
                background-color: rgb(245, 245, 245);

                .menu-dropdown {
                    background-color: var(--color-bg-body);

                    .menu-dropdown-item:hover {
                        background-color: rgb(245, 245, 245);
                    }
                }
            }

            .menu-item.active {
                background-color: rgb(245, 245, 245);

                .menu-dropdown {
                    background-color: var(--color-bg-body);
                }
            }
        }

        .control-mobile {
            padding: 0 1.5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: .5rem;

            .control-item {
                grid-column: span 1;
                list-style: none;
                display: flex;
                justify-content: flex-start;
                align-items: center;

                .control-link {
                    position: relative;
                    line-height: 2.5rem;
                    /*width: 100%;*/
                    display: block;
                    text-align: center;
                    text-decoration: none;
                    color: var(--color-primary);
                    font-size: 18px;
                }

                .control-link::after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1.5px;
                    background-color: var(--color-primary);
                    bottom: .3rem;
                    left: 0;
                    transform: scaleX(0);
                    transform-origin: left;
                    transition: transform 0.3s ease;
                }

                .control-link:hover::after {
                    transform: scaleX(1);
                }

            }

            .item-col {
                justify-content: flex-start;
                grid-column: span 2;
            }
        }

        .close-menu {
            position: absolute;
            width: 2.25rem;
            height: 2.25rem;
            top: 10px;
            right: 10px;
            border-radius: 50%;
            background-color: rgb(246, 246, 246);

            .close-menu-icon {
                padding-top: 2px;
                color: var(--color-primary);
                text-decoration: none;
                font-size: 28px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 4px;
            }
        }

        .close-menu:hover {
            background-color: rgb(240, 240, 240);
            transform: rotate(22.5deg);
            /* Xoay phần tử 45 độ khi hover */

        }
    }
}

@media(min-width:1200px) {}

@media(min-width:1400px) {}

@media(max-width:991.98px) {
    .header-content-mobile {
        display: block !important;
        transform: translateX(-200%);
    }

    .header-content-mobile.show {
        transform: translateX(0%) !important;
    }

}