@import 'filter-left';
@import 'filter-right';

.layout-filter {
    margin-top: 5.57rem;

    .filter-container {
        width: 100%;
        margin: 0 auto;

        .filter-content {
            padding: 2.5rem 2.5rem;
            display: flex;
            justify-content: space-between;

        }
    }
}

@media(min-width:1400px) {
    .filter-container {
        max-width: 1440px;
    }
}

@media(max-width:991.98px) {
    .layout-filter {
        .filter-container {
            .filter-content {
                flex-direction: column;
            }
        }
    }
}