<div class="layout-filter">
    <div class="filter-container">
        <div class="filter-content">
            <div class="filter-left">
                <div class="filter-param">
                    <div class="filter-date-picker">
                        <app-date-picker [(selectedDate)]="selectedDateY" [textDefault]="'Ngày'"></app-date-picker>
                    </div>
                    <div class="filter-tl">
                        <app-custom-select [(selectedOption)]="selectedOptionTL" [textDefault]="'Thời lượng'">
                            <option custom-option value="1">1 giờ</option>
                            <option custom-option value="2">2 giờ</option>
                            <option custom-option value="3">3 giờ</option>
                            <option custom-option value="4">4 giờ</option>
                            <option custom-option value="5">5 giờ</option>
                            <option custom-option value="6">6 giờ</option>
                            <option custom-option value="7">7 giờ</option>
                            <option custom-option value="8">8 giờ</option>
                        </app-custom-select>
                    </div>
                    <div class="filter-time">
                        <app-custom-select [(selectedOption)]="selectedOptionTime" [textDefault]="'Thời gian'">
                            <option custom-option *ngFor="let time of timeOptions" [value]="time">{{ time }}</option>
                        </app-custom-select>
                    </div>
                    <div class="filter-address">
                        <div class="filter-address-content">
                            <div #addressButton class="address-button" (click)="toggleAddress()">
                                <i class='bx bxs-navigation'></i>
                                <span>{{addressValue ||'Địa điểm chụp ảnh'}}</span>
                            </div>
                            <div #addressBar [ngClass]="{'show' : isShowAddressBar}" class="address-bar">
                                <div class="address-form">
                                    <div class="address-form-first">
                                        <input type="text" [(ngModel)]="addressValue" class="address-input">
                                        <i class="bx bx-x" id="clearAddress" (click)="clearAddress()"></i>
                                        <i class='bx bxs-navigation' id="iconAddress"></i>
                                    </div>
                                    <div class="address-form-second">
                                        <i class='bx bx-time-five'></i>
                                        Hồ Tây, Hà Nội
                                    </div>
                                </div>
                                <div class="horizontal-line"></div>
                                <div class="address-suggest">
                                    <p class="suggest-text">
                                        <i class='bx bxs-navigation'></i>
                                        Công viên Yên Sở, Hoàng Mai, Hà Nội
                                    </p>
                                    <p class="suggest-text">
                                        <i class='bx bxs-navigation'></i>
                                        Công viên Thống Nhất, Hà Nội
                                    </p>
                                    <p class="suggest-text">
                                        <i class='bx bxs-navigation'></i>
                                        Phố đi bộ Nguyễn Huệ, Hồ Chí Minh
                                    </p>
                                    <p class="suggest-text">
                                        <i class='bx bxs-navigation'></i>
                                        Hồ Hòa Trung, Đà Nẵng
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="filter-price">
                        <app-custom-select [(selectedOption)]="selectedOptionPrice" [textDefault]="'Giá'">
                            <option custom-option value="1">Dưới 300.000 VNĐ</option>
                            <option custom-option value="2">300.000 - 500.000 VNĐ</option>
                            <option custom-option value="3">500.000 - 800.000 VNĐ</option>
                            <option custom-option value="4">800.000 - 1200.000 VNĐ</option>
                            <option custom-option value="5">Trên 1200.000 VNĐ</option>
                        </app-custom-select>
                    </div>
                    <div class="filter-reset">
                        <a href="javascript:void(0)" id="filter-icon-reset" (click)="resetFilter()">
                            Cài lại
                        </a>
                    </div>
                </div>
            </div>
            <div class="filter-right">
                <div class="filter-sort">
                    <div class="sort-tilte">
                        <span>Sắp xếp theo</span>
                    </div>
                    <div class="sort-content">
                        <div #sortSelectButton class="sort-text" (click)="toggleSort()">
                            <span>{{checkedSortText ||'Mặc định'}}</span>
                        </div>
                        <div #sortSelectOptions [ngClass]="{'show' : isShowSortMenu}" class="sort-menu">
                            <li class="sort-item" (click)="checked(0,'Mặc định')">
                                <a href="javascript:void(0)" class="sort-link sort-default">
                                    <i *ngIf="!checkedSortValue || checkedSortValue === 0"
                                        class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i *ngIf="checkedSortValue && checkedSortValue !== 0"
                                        class='bx bx-circle sort-icon-unchecked'></i>
                                    Mặc định
                                </a>
                            </li>
                            <li class="sort-item" (click)="checked(1,'Giá : Thấp - Cao')">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i *ngIf="checkedSortValue && checkedSortValue === 1"
                                        class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i *ngIf="!checkedSortValue || checkedSortValue !== 1"
                                        class='bx bx-circle sort-icon-unchecked'></i>
                                    Giá : Thấp - Cao
                                </a>
                            </li>
                            <li class="sort-item" (click)="checked(2,'Giá: Cao - Thấp')">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i *ngIf="checkedSortValue && checkedSortValue === 2"
                                        class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i *ngIf="!checkedSortValue || checkedSortValue !== 2"
                                        class='bx bx-circle sort-icon-unchecked'></i>
                                    Giá: Cao - Thấp
                                </a>
                            </li>
                            <li class="sort-item" (click)="checked(3,'Đánh giá : Thấp - Cao')">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i *ngIf="checkedSortValue && checkedSortValue === 3"
                                        class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i *ngIf="!checkedSortValue || checkedSortValue !== 3"
                                        class='bx bx-circle sort-icon-unchecked'></i>
                                    Đánh giá : Thấp - Cao
                                </a>
                            </li>
                            <li class="sort-item" (click)="checked(4,'Đánh giá : Cao - Thấp')">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i *ngIf="checkedSortValue && checkedSortValue === 4"
                                        class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i *ngIf="!checkedSortValue || checkedSortValue !== 4"
                                        class='bx bx-circle sort-icon-unchecked'></i>
                                    Đánh giá : Cao - Thấp
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>