<div class="layout-filter">
    <div class="filter-container">
        <div class="filter-content">
            <div class="filter-left">
                <div class="filter-param">
                    <div class="filter-date-picker">
                        <app-date-picker></app-date-picker>
                    </div>
                    <div class="filter-tl">
                        <app-custom-select [(selectedOption)]="selectedOption">
                            <option custom-option value="Option 1">Option 1</option>
                            <option custom-option value="Option 2">Option 2</option>
                            <option custom-option value="Option 3">Option 3</option>
                        </app-custom-select>
                    </div>
                    <div class="filter-time">

                    </div>
                    <div class="filter address">

                    </div>
                    <div class="filter-price">

                    </div>
                </div>
            </div>
            <div class="filter-right">
                <div class="filter-sort">
                    <div class="sort-tilte">
                        <span>Sắp xếp theo</span>
                    </div>
                    <div class="sort-content">
                        <div class="sort-text">
                            <span>Đánh giá : Thấp - Cao</span>
                        </div>
                        <div class="sort-menu">
                            <li class="sort-item">
                                <a href="javascript:void(0)" class="sort-link sort-default">
                                    <i class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i class='bx bx-circle sort-icon-unchecked'></i>
                                    Mặc định
                                </a>
                            </li>
                            <li class="sort-item">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i class='bx bx-circle sort-icon-unchecked'></i>
                                    Giá : Thấp - Cao
                                </a>
                            </li>
                            <li class="sort-item">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i class='bx bx-circle sort-icon-unchecked'></i>
                                    Giá: Cao - Thấp
                                </a>
                            </li>
                            <li class="sort-item">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i class='bx bx-circle sort-icon-unchecked'></i>
                                    Đánh giá : Thấp - Cao
                                </a>
                            </li>
                            <li class="sort-item">
                                <a href="javascript:void(0)" class="sort-link">
                                    <i class='bx bxs-check-circle sort-icon-checked'></i>
                                    <i class='bx bx-circle sort-icon-unchecked'></i>
                                    Đánh giá: Cao - Thấp
                                </a>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>